@use "../abstracts/" as *;

body {
  font-family: $ff-primary;
  font-size: var(--fs-400);
  color: $clr-text-light;
}

.btn {
  font-family: $ff-secondary;
  font-size: var(--fs-400);
  text-transform: uppercase;
  color: $clr-text-white;
  letter-spacing: 0.15em;
}

.btn-cta {
  font-family: $ff-tertiary;
  font-size: var(--fs-400);
  color: $clr-text-dark;
}

a {
  @extend .btn;
  text-decoration: none;

  &.list__item-link {
    & span {
      font-weight: bold;
    }
  }

  &:not(.btn-cta):visited {
    color: $clr-text-white;
  }
}

h2 {
  font-family: $ff-tertiary;
  font-size: var(--fs-800);
  text-transform: uppercase;
  color: $clr-text-white;
}

.container__title,
.container--home .container__text-title,
.container--technology .container__text-title {
  font-family: $ff-secondary;
  font-size: var(--fs-500);
  letter-spacing: 4.75px;
  text-transform: uppercase;
  color: $clr-text-white;
}

.container__title span {
  color: hsl(var(--clr-light-100), 0.25);
  font-weight: bold;
  padding-right: 1rem;
}

.container--home .container__text-title span {
  font-family: $ff-tertiary;
  font-size: var(--fs-900);
  color: $clr-text-white;
  display: block;
}

.container__stats {
  text-transform: uppercase;
  h3 {
    font-size: var(--fs-200);
    text-transform: uppercase;
    letter-spacing: 2.35px;
  }

  p {
    font-family: $ff-tertiary;
    font-size: 1.75rem;
    color: $clr-text-white;
  }
}

.container--crew {
  .container__text-title {
    font-family: $ff-tertiary;
    font-size: var(--fs-600);
    color: hsl(var(--clr-light-100), 0.5);
  }
}

.container__text-name {
  font-family: $ff-tertiary;
  font-size: var(--fs-700);
  text-transform: uppercase;
  color: $clr-text-white;
}

@include sm {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}

@include md {
  :root {
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
}
