@use "../abstracts/" as *;

.container--destination {
  .container__item {
    picture,
    img {
      transition: all 0.35s ease-in;
    }
  }
}

.container__stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-top: 1px solid hsl(var(--clr-light-100), 0.25);
  padding-top: 1.5rem;
  justify-content: center;
}

@include md {
  .container--destination {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 0;

    .container__title {
      text-align: left;
    }

    .container__item {
      grid-area: 2 / 1 / 2 / 1;
      place-self: center;
    }

    .container__list {
      grid-area: 3 / 1 / 3 / 1;
    }

    .container__text {
      grid-area: 4 / 1 / 4 / 1;
    }
  }

  .container__stats {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@include lg {
  .container--destination {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    .container__title {
      grid-area: 1 / 1 / 1 / 2;
    }
    .container__list {
      grid-area: 3 / 1 / 3 / 1;
    }
    .container__list {
      grid-area: 2 / 2 / 2 / 2;
    }
    .container__text {
      grid-area: 3 / 2 / 3 / 2;
      justify-content: space-between;
      align-self: flex-start;
    }
    .container__item {
      grid-area: 2 / 1 / 4 / 1;
      place-self: center start;
      max-width: 85%;
    }
    .container__list {
      justify-content: start;
    }
  }

  .container__stats {
    gap: 4.25rem;
    justify-content: start;
  }
}
